@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import './variables';

body {
  background-color: #fff;
  font-family: $font;

  .btn {
    background-color: $buttonColor;
    border-color: $buttonColor;
    color: #fff;
  }

  .btn:hover {
    background-color: $buttonHover;
    border-color: $buttonHover;
  }
}
