@import '../../styles/variables';

.Player__container {
  width: 300px;
  border: 3px solid $secondaryColor;
  border-radius: .2em;

  margin: 25px 15px;

  img {
    border-radius: 0;
    border-bottom: 3px solid $secondaryColor;
  }

  .card-body { 
    padding-bottom: 0;
  }
}

.separator {
  padding: 1px;
  background-color: $secondaryColor;
  margin: 0px 15px 20px 15px;
}

.Player--box {
  border: 2px solid $secondaryColor;
  color: $secondaryColor;
  border-radius: .2em;

  padding: 0px 10px 2px 10px;
  margin-left: 5px;
}

.Player__fire {
  border-radius: 0;
  font-size: 1.3em;

  margin: 20px 0px 0px 0px;
}

.Player__fire:hover {
  color: #fff;
}
