@import '../../styles/variables';

.Auth__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin-top: 150px;
}

.Auth__buttonContainer {
  border: 2px solid $secondaryColor;
  border-radius: .2em;
  
  padding: 25px;
}

.Auth__signIn {
  font-size: 1.5em;

  padding: 0px 40px 3px 40px;
}
